.App__header {
  background-color: #222;
  height: 51px;
  margin-bottom: 10px;
  nav.navbar-inverse {
    border-color: transparent;
  }
}

.App__header__subreddit-title {
  width: 50%;
  text-align: center;
}

.App__header__subreddit-input {
  margin-right: 10px;
}