.Article {
    margin-top: 10px;
}

.Article__embedded-content {
    text-align: center;
    margin-top: 20px;
    height: 50vh;
}

.Article__embedded-content img {
    max-height: 50vh;
}

.Article__self-text {
    margin: 20px 50px;
}